# Створіть копію цього файлу з назвою '.env' у цій же директорії,
# та впишіть туди ваш справжній токен.
# Приклад з акаунта csctemplate (www.pythonanywhere.com). Замініть csctemplate → свій логін.

REPO_PATH=/home/csctemplate/csc_template
GITHUB_WEBHOOK_SECRET=change-me

PA_WSGI_FILE=/var/www/csctemplate_pythonanywhere_com_wsgi.py
PA_USERNAME=csctemplate
PA_API_TOKEN=
PA_API_HOST=www.pythonanywhere.com
PA_DOMAIN=csctemplate.pythonanywhere.com
PA_ALWAYS_ON_TASK_ID=

# Приклад токена для бота
BOT_TOKEN=7349129841:AAEy_example_token_abcdefg